#savedLogins {
    margin-bottom: 1em;
    margin-top: -1.5em;
}

.btn-savedlogin {
    color: #fff;
    background-color: #975b83;
    border-color: #975b83;

    box-sizing: border-box;
    padding: 0 !important;
    margin-top: .3em;
    margin-right: .3em;
}

.btn-savedlogin > div:hover {
    color: #fff;
    background-color: #7f4d6e;
    /*border-color: #774867;*/
}

.btn-savedlogin > .loginPart {
    float: left;
    padding-right: .45em;
    box-sizing: border-box;
    padding-left: .5em;
}

.btn-savedlogin > .deletePart {
    float: right;
    padding-left: .2em;
    border-left: 1px solid white;
    padding-right: .2em;
}

a.right-link.pull-right.remindme {
    float: right;
}